
<ModalDialog Title="@AsoRep["SettingSit"]" ButtonCloseEvent="Cancel">
    <BodyContent>       
        <form id="editsubparam" @onsubmit="SaveParam">
            @if (SubParam != null)
            {
                @*Режим оповещения*@
                @if (SubParam.SubsystemID == SubsystemType.SUBSYST_ASO)
                {
                    <AsoSubParamModeNotify SubParam="SubParam" />
                }

                @*Количество проговоров сообщения*@
                <div class="row mb-2">
                    <label class="form-label col-md-4">@AsoRep["RepeatCount"]</label>
                    <div class="col-md-8">
                        <input type="number" min=1 max=50 class="form-control" @bind="SubParam.CountRepeat">
                    </div>
                </div>
                @*Кол-во дозвонов*@
                <div class="row mb-2">
                    <label class="form-label col-md-4">@AsoRep["CountCall"]</label>
                    <div class="col-md-8">
                        <input type="number" min=1 max=50 class="form-control" @bind="SubParam.CountCall">
                    </div>
                </div>
                @*Таймаут между дозвонами при "нет ответа" (с):(Таймаут между дозвонами (с):)*@
                <div class="row mb-2">
                    <label class="form-label col-md-4">@GsoRep[(SubParam.SubsystemID==SubsystemType.SUBSYST_SZS?"IDC_STATTMCALL":"IDS_STRING_TIMEOUT_BETWEEN_CALL")]</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" @bind="SubParam.TimeoutAb">
                    </div>
                </div>
                @if (SubParam.SubsystemID == SubsystemType.SUBSYST_ASO)
                {
                    <AsoSubParam SubParam="SubParam" />
                    <AsoDtmfSubParam SubParam="SubParam" />
                }
            }
            else
            {
                <PNoData />
            }
        </form>
    </BodyContent>
    <ButtonContent>
        <BCancel OnClick="Cancel" />
        <CheckP BitPosList="@(new[]{NameBitsPos.Create, NameBitsPos.CreateNoStandart})">
            <BSumbit FormId="editsubparam" />
        </CheckP>
    </ButtonContent>
</ModalDialog>
