@inherits ButtonDefault

<button title="@Title" disabled="@GetDisabledd" type="button" hotkey="@GetHotKey" @onclick="OnClickAction" class="@GetClass("dark")">@_content</button>

@code {
    protected override void OnInitialized()
    {
        Text = GsoRep["IDS_STRING_CANCEL"];
        HotKey = KeyCode.Escape;
        IsOutline = true;
    }
}