@inherits ButtonDefault
<button title="@Title" disabled="@GetDisabledd" type="button" hotkey="@GetHotKey" @onclick="OnClickAction" class="@GetClass("danger")">@_content</button>

@code {
    protected override void OnInitialized()
    {
        Text = GsoRep["IDS_STRING_DELETE"];
        HotKey = KeyCode.Delete;
    }
}
