@inherits ButtonDefault
<button @ref="button" form="@FormId" disabled="@(IsProcessing?"disabled":null)" type="submit" class="btn btn@(IsOutline==true?"-outline":"")-@ColorButton @(TextWrap==true?"text-wrap":"text-nowrap") @AddClass">@_content</button>

@code {
    [Parameter]
    public string? FormId { get; set; }

    [Parameter]
    public string? ColorButton { get; set; } = "dark";

    [Parameter]
    public bool SetFocus { get; set; } = false;

    ElementReference button;

    protected override async Task OnInitializedAsync()
    {
        Text = Text ?? GsoRep["IDS_STRING_SAVE"];

        if (SetFocus)
        {
            await Task.Yield();
            await button.FocusAsync();
        }
    }
}