@inherits ButtonDefault
<button @ref="button" title="@Title" form="@FormId" disabled="@GetDisabledd" type="submit" class="@GetClass(ColorButton)">@_content</button>

@code {
    [Parameter]
    public string? FormId { get; set; }

    [Parameter]
    public string ColorButton { get; set; } = "dark";

    [Parameter]
    public bool SetFocus { get; set; } = false;

    ElementReference button;

    protected override async Task OnInitializedAsync()
    {
        Text = Text ?? GsoRep["IDS_STRING_SAVE"];

        if (SetFocus)
        {
            await Task.Yield();
            await button.FocusAsync();
        }
    }
}