@using SMDataServiceProto.V1;

<ModalDialog Title="@AsoDataRep["IDS_STRING_MESSAGE_COMMENT"]" ButtonCloseEvent="Close">
    <BodyContent>
        <ResultView TItem="Objects" Items="Model?.Where(x => IsAllMsg ? true : x.OBJID?.SubsystemID == SubsystemType.SUBSYST_ASO)" Context="item" DbClick="Next" SelectList="@(SelectItem!=null ? new (){SelectItem}:null)" SetSelectList="(e)=>SelectItem=e?.FirstOrDefault()">
            <ChildContent>
                @item.Name @(item.Comm != "" ? " (" + item.Comm + ")" : "")
            </ChildContent>
        </ResultView>
    </BodyContent>
    <ButtonContent>
        <label class="form-check-label me-2">
            <input class="form-check-input" checked="@IsAllMsg" type="checkbox" disabled="@(IsReadOnly==true? "disabled": null)" @onchange="@((e)=>SetAllView(e))"> @Rep["AllMessage"]
        </label>
        <BDark HotKey="@KeyCode.Insert" OnClick="@(()=>{SelectItem=null; ViewInfoMessage=true; IsNewMessage=true;})" Text="@GsoRep["ID_RECORD"]" IsDisabled="@(IsReadOnly)" />
        <BDark OnClick="@(()=>{ViewInfoMessage=true; IsNewMessage=false;})" Text="@AsoRep["ReadMessage"]" IsDisabled="@(SelectItem==null)" />
        <div class="ms-auto">
            <BSave OnClick="Next" IsDisabled="@(IsReadOnly || SelectItem == null)" />            
            <BSecondary HotKey="@KeyCode.Escape" IsOutline="true" OnClick="Cancel" Text="@GsoRep["IDS_STRING_BACK"]" />
            <BClose OnClick="Close" />
        </div>
    </ButtonContent>
</ModalDialog>

@if (ViewInfoMessage)
{
    <CreateMessage TitleText="@GsoRep["IDS_REG_MESS_INSERT"]" CallBack="SaveCallBack" MsgId="@(SelectItem?.OBJID.ObjID??null)" Edit="IsNewMessage" />
}