@using Label.V1
<h5 class="pointer" @onclick="()=>IsViewSpecification=!IsViewSpecification"><span class="oi oi-@(IsViewSpecification?"minus":"plus")"></span> @DeviceRep["SPECIFICATIONS"]</h5>

@if (!IsPageLoad)
{
    <div class="@(IsViewSpecification?"d-block":"d-none")">


        <TableDefault IsSetFocus="false" TItem="Field" Colspan="5" Items="GetProvider" SetSelectList="SetSelectItem" SelectList="(new(){SelectItem??new()})" IsSticky="false" MinWidth="0">
            <Thead>
            <th>@DeviceRep["SPECIFICATION"]</th>
            <th>@AsoRep["Value"]</th>
            </Thead>
            <Tbody Context="item">
            <td>
                    @if (item.IdNameField == 0 && string.IsNullOrEmpty(item.NameField))
                    {
                    <div>
                        <input type="text" list="FreeKey" class="form-control form-control-sm" value="@item.NameField" @onchange="SetNameField">
                            @if (GetFreeKey != null)
                            {
                            <datalist id="FreeKey">
                                    @foreach (var item in GetFreeKey)
                                    {
                                    <option value="@item" />
                                    }
                            </datalist>
                            }
                    </div>
                    }
                    else
                    {
                        @item.NameField
                    }
            </td>
            <td>
                    @if (SelectItem?.Equals(item) ?? false)
                    {
                    <div>
                        <input list="ValueList" type="text" class="form-control form-control-sm" value="@item.ValueField" @onchange="SetValueField">
                            @if (GetHelpValueList != null)
                            {
                            <datalist id="ValueList">
                                    @foreach (var item in GetHelpValueList)
                                    {
                                    <option value="@item" />
                                    }
                            </datalist>
                            }
                    </div>
                    }
                    else
                    {
                        @item.ValueField
                    }

            </td>
            </Tbody>
            <TSticky>
                <CheckP BitPosList="[NameBitsPos.CreateAbon, NameBitsPos.CreateNoStandart]" SystemID="@SubsystemType.SUBSYST_ASO">
                    @*Добавить*@
                    <BDark Text="@UUZSRep["IDS_STRING_ADD"]" OnClick="AddSpicification" />
                </CheckP>
            </TSticky>
        </TableDefault>
    </div>
}
