<ModalDialog ButtonCloseEvent="GoCallBack" Title="@GetTextTitle">
    <BodyContent>
        @if (!IsPageLoad)
        {
            <BlazorLibrary.Shared.FormComponent.FormDefault OnSumbit="AddList">
                <div class="row" tabindex="0">
                    <div class="col-md-8">
                        <div class="mb-2">
                            <label class="form-label">@AsoRep["NameList"]</label>
                            <InputFocus @bind-Value="ListModel.Name" maxlength="255" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label class="form-label">@AsoRep["PriorList"]</label>
                            <input type="number" min=1 max=50 class="form-control" @bind="ListModel.Type" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2">
                        <label class="form-label">@AsoRep["IDS_STRING_COMMENT"]</label>
                        <input type="text" class="form-control" @bind="ListModel.Comm">
                    </div>
                </div>
                <ListTreeNew Folders="Folders" SelectItems="SelectFolders" ListId="ListId">
                    <AddBackButons>
                        @if (CallbackEvent.HasDelegate)
                        {
                            <BCancel OnClick="GoCallBack" />
                        }
                    </AddBackButons>
                    <AddNextButons Context="next">
                        @if (SelectFolders?.Count > 0)
                        {
                            <CheckP BitPosList="@(new[]{NameBitsPos.Create, NameBitsPos.CreateNoStandart})">
                                <BSumbit IsProcessing="context" AddClass="m-1 ms-auto" />
                            </CheckP>
                        }
                    </AddNextButons>
                </ListTreeNew>
            </BlazorLibrary.Shared.FormComponent.FormDefault>
        }
        else
        {
            <PLoad />
        }
    </BodyContent>
</ModalDialog>





